/* Pagination  */
.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  list-style: none;
  background-color: transparent; 
  border-radius: 8px;
  width: fit-content;
}

.paginationBttns li {
  margin: 0 5px; 
}

.paginationBttns a {
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.paginationBttns a:hover {
  background-color: #000;
  color: #fff !important; 
}

.previousBttn a,
.nextBttn a {
  font-weight: bold;
  color: #000; 
  border: 1px solid #000; 
}

.previousBttn a:hover,
.nextBttn a:hover {
  background-color: #000; 
  color: #fff; 
}

.paginationDisabled a {
  color: #888; 
  cursor: not-allowed;
}

.paginationActive a {
  background-color: #000; 
  color: #fff !important; 
}
/* Product Card  */

.Product-card {
  width: 100%;
  height: 425px;
  border-radius: 8px;
  background-color: #ffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
}

.Product-card img {
  height: 270px;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.2;
}

.card-description {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.price-section {
  display: flex;
  align-items: center;
  margin-top: -12px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b12704;
}

.currency {
  font-size: 1.2rem;
  color: #555;
  margin-left: 0.25rem;
}
